{% extends 'base.html' %}
{% load custom_markdown %}
{% block content %}
{% if request.path ==  "/blog/" %}
<div id="top" >
    <div id="Glide" class="glide ui container glide--carousel glide--horizontal">

        <div class="glide__wrapper">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                </ol><!-- Wrapper for slides -->
                <div class="carousel-inner">
                     {% for article in carouselarticle_list %}
                    {% if  forloop.counter == 1 %}
                    <div class="item active" style="height:300px;">
                        <a href="{% url 'blog:detail' article.pk %}"><img src="{{ article.thumbnail.url }}" alt="{{ article.title | slice:'30'}}" style="width:100%"/></a>
                        <div class="carousel-caption"><a href="{% url 'blog:detail' article.pk %}" style="text-decoration:none;color:gray"><h3>{{ article.title | slice:"30"}}</h3></a></div>
                    </div>
                    {% else %}
                    <div class="item" style="height:300px;">
                        <a href="{% url 'blog:detail' article.pk %}"><img src="{{ article.thumbnail.url }}" alt="{{ article.title | slice:'30'}}" style="width:100%"/></a>
                        <div class="carousel-caption"><a href="{% url 'blog:detail' article.pk %}" style="text-decoration:none;color:gray"><h3>{{ article.title | slice:"30"}}</h3></a></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

    </div>
</div>
{% endif %}
           <script>
 $(function(){
 $('.carousel').carousel();
 });
            </script>
<div class="ui container stackable grid">
    <div class="articles eleven wide column">
        <div class="ui segment">
            <div class="ui pointing secondary menu brown section-title">
                <div class="item active"><i class="feed icon"></i>
                    {% if request.path ==  "/blog/" %}
                    最新文章
                    {% endif %}
                    {% if request.path ==  "/blog/navigation/0" %}
                    最新资讯
                    {% endif %}
                    {% if request.path ==  "/blog/navigation/1" %}
                    最新教程
                    {% endif %}
                    {% if request.path ==  "/blog/navigation/2" %}
                    最新资源
                    {% endif %}
                </div>
            </div>
            <div class="js-infinite-layout">
                <div class="js-infinite-item">
                    {% load paginate_tags %}
                    {% paginate article_list 5 %}
                    {% for article in article_list %}
                    <a class="ui red ribbon label" href="{% url 'blog:navigation' article.navigation %}"><i
                            class="world icon"></i>{{ article.get_navigation_display }}</a>
                    <div class="article">
                        <div class="header"><a href="{% url 'blog:detail' article.pk %}"><h2>{{ article.title}}</h2></a>
                        </div>

                        <div class="image ">
                            <div style="background-image: url('{{ article.thumbnail.url }}');"
                                 class="article-thumb dimmable lazy-hidden">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="{% url 'blog:detail' article.id %}">
                                                <div class="ui inverted button">查看详情</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <div class="description">
                                <p>{% if not article.abstract %}
                                    {{ article.body|safe|truncatechars:100 | custom_markdown  }}
                                    {% else %}
                                    {{ article.abstract }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="ui feed">
                            <div class="event">
                                <div class="label">
                                    <img src="http://codingpy.com/static/images/logo.png" alt="avatar of oneil" data-title="oneil" class="avatar">
                                </div>
                                <div class="content">
                                        <span class="date"><span class="" data-refresh="0"
                                                                 style=""><h5>{{ article.last_modified_time|date:"Y-m-d H:i:s"}}</h5></span></span>
                                    <span class="share-article" hidden><i class="eye icon"></i>{{ article.views }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    {% endfor %}
                    {% include 'blog/pagination.html' %}
                </div>

            </div>
        </div>
    </div>
    {% endblock %}